html {
    background-color: #cac9c9;
    /* Ele vai decidir pela ordem: se o browser não aguenta Verdana vai para Geneve e assim sucessivamente */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body{
    display:flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
}

form{
    background-color: #ecf0f1;
    width: 350px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black ;
    padding: 10px;

}

fieldset{
    border: none;
    margin: 0px;
    /* padding: 0px; */
}

label, input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input{
    padding: 0.75em;
    border-radius: 5px;
    margin-bottom: 1.75em;
    border: 1px solid #bbb;
    font-size: 1em;
}

legend{
    padding: 1em;
    margin: 0px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
}

label{
    margin-bottom: 0.25em;
}

.actions{
    display: flex;
    gap: 25px;
}

.botao{
    background-color: #6f6ffb;
    color: white;
    cursor: pointer; /* Coloca a mão por cima*/
}

.bt_limpar{
    background-color: #f67777;
}

.botao:hover{
    background-color: #0f0f7b;
}

.bt_limpar:hover{
    background-color: #7d0c0c;
}

.botao:active {
    background-color: #e2dddd;
    color:#0f0f7b
}

.bt_limpar:active {
    background-color: #e2dddd;
    color: #7d0c0c;
}
